#heading {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/background3.png);
}

.header1 {
  display: flex;
  justify-content: right;
  padding-top: 0;
  padding-right: 15px;
}

#time {
  display: inline;
  position: relative;
  top: 15px;
  left: 10px;
}

#heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 24px;
  gap: 58px;
  position: absolute;
  width: 375px;
  height: 726px;
  left: 0px;
  top: 92px;
}

.h1{
  width: 327px;
height: 192px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
text-align: center;
color: #172B4D;
flex: none;
order: 0;
flex-grow: 0;
}